<input type="text" ng-model="name" placeholder="name" />
<input type="text" ng-model="color" placeholder="color" />
<input type="number" ng-model="price" placeholder="price" />
<input type="text" ng-model="picture" placeholder="picture" />
<button ng-click="createItem()">Create</button>
{{tagline}}
<div class="row">
    <div class="col" ng-repeat="item in tagline">
        <h2>{{item.name}}</h2>
        <p>{{item.price}}</p>
        <p>{{item.pictures[0]}}</p>
        <img class="img-fluid" ng-src="{{item.pictures[0]}}" />
    </div>
</div>